# Numerous always-ignore extensions
*.json
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db


# NPM packages folder.
node_modules/

# Brunch output folder.
public/

# Specific files
package-lock.json
package.json
